node_modules/
dist/
.logs/
.vite/
*.local
*.log
*.zip
.env
vendor/
deployment/tmdhosting/frontend-public/assets/*.mp4
deployment/tmdhosting/frontend-public/assets/*.png
deployment/tmdhosting/frontend-public/assets/*.svg
bootstrap/cache/*.php
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
