node_modules/
dist/
.logs/
.vite/
*.local
*.log
*.zip
.env
vendor/
bootstrap/cache/*.php
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
